<p>Edit this transaction:</p>

<%= render "transactions/form", transaction: transaction %>

<p><%= link_to "Delete transaction", stock_transaction_path(@stock, transaction), method: :delete %></p>

<hr>